body{
	text-align:center;
	font-family: 'Coda',cursive,serif;
	line-height: 200%;
}
h{
	font-size: xx-large;
}
a{
	display:inline-block;
	width:40%;
	height:50px;
	cursor:pointer;
}
a.h{
	background-repeat: repeat-x;
}
input{
	margin: 0 1em 0 0.2em;
}
input[type=number]{
	width:3.5em;
}
